<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Airplane Site</title>
    <link rel="shortcut icon" type="image/jpg" href="https://freepngimg.com/download/temp/58342-clouds-mosque-airplane-al-bahia-youtube-png-file-hd_32x32.ico"/>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body id="body">
    <div class="image">
    <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div id="navbar" class="collapse navbar-collapse">
                <div class="nav navbar-nav navbar-right">
                  <form action="/api/users" method="GET" id="homelink">
                    <button type="submit" class="button">Home</button>
                  </form>
                  <form action="/api/users" method="GET" id="mylistingslink">
                    <button type="submit" class="button">My Listings</button>
                  </form>
                  <form action="/api/create" method="GET" id="createlistingslink">
                    <button type="submit" class="button">Create Listing</button>
                  </form>
                  <form action="/api/users" method="GET" id="favouritelistingslink">
                    <button type="submit" class="button">Favourite Listings</button>
                  </form>
                    <form action="/api/users" method="GET" id="login">
                      <textarea id="login-text" placeholder="username here please"></textarea>
                      <button type="submit" class="button">Login</button>
                    </form>
                  <div id="currentUser"></div>
                  </div>
              </div><!--/.nav-collapse -->
            </div>

    </nav>
    <div class="search-bar">
      <form action="/api/listings"  method="POST" id="search">
        <div class="wrapper">
          <p class="airplane-nav">Buy Some Airplanes and Spaceships!</p>
          <div class="search-container">
            <input name="min_price" type="text" class="search-price" placeholder="Minimum Price">
            <input name="max_price" type="text" class="search-price" placeholder="Maximum Price">
            <input name="make" type="text" class="seach-make" placeholder="Make">
            <input name="model"type="text" class="search-model" placeholder="Model">
            <button type="submit" class="button">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <p id="page-title">Featured Listings!</p>
  <main id="list">
    <div id="listings"></div>
  </main>
  </body>
</html>
