<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Airjiji</title>
    <!-- favicon for the website -->
    <link rel="shortcut icon" type="image/jpg" href="https://freepngimg.com/download/temp/58342-clouds-mosque-airplane-al-bahia-youtube-png-file-hd_32x32.ico"/>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="module" src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.mjs"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/createListing.js"></script>
    <script type="text/javascript" src="/scripts/getMyListings.js"></script>


    <script> function removeElement() {document.getElementById('adbox').style.display = 'none';}</script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  </head>

  <body id="body">
    <!-- creates our  navbar over our bg image-->
    <div class="image">
      <nav class="navbar navbar-default">
        <div class="nav-container">
          <!-- navbar with user links that appear after login -->
          <div class="navbar-nav">
            <form action="/" method="GET" id="homelink">
              <button type="submit" class="sellerLinks">AIRJIJI</button>
            </form>
            <!-- <a href ="/" id="homelink"> Home</a> -->
                  <form action="api/listings/listings" method="POST" id="mylistingslink">
                    <button type="submit" class="sellerLinks">My Listings</button>
                  </form>
                  <a href ="/" id="createlistingslink" class="sellerLinks"> Create Listing</a>
                  <a href ="/" id="favouritelistingslink" class="sellerLinks"> Favourite Listings</a>
                  <% if(!user) {%>
                  <form action="/login" method="POST" id="login">
                      <input name="user" id="login-text" placeholder="username here please" />
                      <button type="submit" class="login-button">Login</button>
                    </form>
                    <% } else { %>
                  <div id="currentUser">

                    <%= user %>
                  </div>
                  <% } %>
                  </div>
            </div>
      </nav>
    <!-- search bar attached to an SQL query to search listings -->
      <div class="search-bar">
        <form action="/api/listings/search"  method="POST" id="search">
          <div class="wrapper">
            <p class="airplane-nav">Buy Some Airplanes and Spaceships!</p>
            <div class="search-container">
              <input name="min_price" type="text" class="search-price" placeholder="Minimum Price">
              <input name="max_price" type="text" class="search-price" placeholder="Maximum Price">
              <input name="make" type="text" class="seach-make" placeholder="Make">
              <input name="model" type="text" class="search-model" placeholder="Model">
              <button type="submit" class="button">Search</button>
            </div>
          </div>
        </form>
      </div>
  </div>
  <!-- page title is replaced with each type of page loading -->
  <p id="page-title">Featured Listings!</p>
  <main id="list">
    <div id="listings"></div>
  </main>
  <a href="#" class="to-the-top"></a>
  </body>
</html>
