<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Airplane Site</title>
    <link rel="shortcut icon" type="image/jpg" href="https://freepngimg.com/download/temp/58342-clouds-mosque-airplane-al-bahia-youtube-png-file-hd_32x32.ico"/>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body id="body">
    <div class="image">
    <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                <a class="navbar-brand" href="#">Airplanes</a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">My Listings</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Another Link</a></li>
                  <li>
                    <form action="/api/users" method="GET" id="login">
                      <textarea id="login-text" placeholder="username here please"></textarea>
                      <button type="submit" class="button">Login</button>
                    </form>
                  </li>
                  <li id="currentUser"></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
    </nav>
  </div>
  <div class="container">
    <form action="/api/listings"  method="POST" id="search">
      <div class="wrapper">
        <p>Buy Some Airplanes and Spaceships!</p>
        <div class="search-container">
          <input name="min_price" type="text" class="search-price" placeholder="Minimum Price">
          <input name="max_price" type="text" class="search-price" placeholder="Maximum Price">
          <input name="make" type="text" class="seach-make" placeholder="Make">
          <input name="model"type="text" class="search-model" placeholder="Model">
          <button type="submit" class="button">Search</button>
        </div>
      </div>
    </form>
  </div>
  <h1>Featured Listings!</h1>
  <main id="list">
    <div id="listings"></div>
  </main>
  </body>
</html>
