<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Airplane Site</title>
    <link rel="shortcut icon" type="image/png" href="https://freepngimg.com/download/temp/7-2-star-wars-ship-png_32x32.ico"/>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <div class="image">
    <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Transparent to Solid Nav</a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Another Link</a></li>
                  <li></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
    </nav>
    <table>
      <thead></thead>
      <tbody>

      </tbody>
    </table>
    <div></div>

    <h1>Buy Some Airplanes and Spaceships!</h1>
  </div>
  <h1>Featured Listings!</h1>
  <main id="list">
    <div id="listings"></div>
  </main>
  </body>
</html>
