// See: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

.image {
  background-color: rgb(76, 103, 112);
  background: url("https://atmosphere.copernicus.eu/sites/default/files/styles/hero_image_extra_large_2x/public/2020-06/iStock-484828810.jpg") no-repeat center center;
  background-size: cover;
  height: 570px;
  margin-top: -30px;
}

.btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  font-size: 1.2em;

   &:hover {
      color:  rgb(76, 103, 112);
      border-color: #C57ED3;
   }
}

.navbar {
 display: flex;
 flex-direction: row;
 justify-content:flex-start;
 position: fixed;
 height: 80px;
 width: 100%;
 padding-top: 30px;
 background-color: transparent;
 border: none;
 font-family: 'Damion', cursive;
 color: white;
 z-index: 100;
 transition: background-color 1s ease 0s;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-default {

  .navbar-brand {
    margin-top: 10px;
    color: white;

     &:hover {
        color: #eeeeee;
        border: 1px solid #ffffff;
     }
  }

 .navbar-nav {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;



     > a {
       color: white;
       margin: 10px 5px 5px 5px;
      text-decoration: none;
     }

 } //end .navbar-nav

} //end .navbar-default

/* Solid class attached on scroll past first section */

.navbar.solid {
  background-color: rgb(63, 147, 224);
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;

    .navbar-brand {
      color: #ffffff;
      transition: color 1s ease 0s;
    }

    .navbar-nav {

          > a {
            color: #ffffff;
            transition: color 1s ease 0s;
          }

    } //end .navbar-nav

 }

 .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 852px;
  background: transparent;
  margin: 0 auto;
  padding: 16px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.sellerLinks {
  font-size: 20px;
  color: white;
  background: transparent;
  border: none;
}

#page-title {
  display: flex;
  justify-content: center;
  font-family: 'Damion', cursive;
  font-size: 50px;
  color: white;
}

#login {
  padding-top: 25px;
  align-content: center;
}

.airplane-nav{
  display: flex;
  font-family: 'Damion', cursive;
  font-size: 45px;
  justify-content: center;
  align-items: center;
}

body {

  h1 {
    color: #244751;
  }

}

//Beginning of changes made to layout by Gavin
#listings {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  padding: 2px;

}

.thumbnail {
  display: flex;
  height: 300px;
  width: auto;
  padding: 1em;
}

#adbox {
  border: black solid 2px;
  border-radius: 25px;
  background-color: rgb(248, 248, 248);
  margin: 80px;
  padding: 1em;
  display: flex;
  align-content: center;
  width: 60%;
}

#list {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#body {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");

}

#adtitle {
  font-family: 'Damion', cursive;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

#textContainer {
  padding: 2em;
}

#imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
//End of changes made to layout by Gavin


.wrapper {
  color: black;
  margin: 8px 0;

}

.search-container {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  padding-top: 25px;
}

.search-bar {
  padding-top: 140px;
  margin: 25px;
}

input {
  min-width: 20px;
  padding: 8px;
  margin: 0 4px 0 0;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  height: 30px;
}

.button {
  font-family: 'Damion', cursive;
  padding: 8px 16px;
  min-height: 48px;
  min-width: 10px;
  word-wrap: nowrap;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius:25% 15%;
}

input {
    order: 0;
    align-self: auto;
}

.search-price {
  flex: 2 1 auto;
}

.search-make {
  flex: 1 1 auto;
}

.search-model {
  flex: 1 1 auto;
}

.button {
    order: 4;
    flex: 0 1 auto;
    align-self: auto;
}

